<div id="display-create">
@{
    ViewData["Title"] = "Create";
}

@model PersonalPortfolio.Models.BlogPost
    
<hr />

@using (Html.BeginForm())
{
    <h4>@Html.LabelFor(model => model.Title)</h4>
    @Html.TextBoxFor(model => model.Title)
    <h4>@Html.LabelFor(model => model.Body)</h4>
    @Html.TextBoxFor(model => model.Body)
    <input type="submit" value="Create" />
}

@Html.ActionLink("Back to Blog Page", "Index")

</div>