@model PersonalPortfolio.Models.BlogPost

@{
    ViewData["Title"] = "BlogPost - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />

<script type="text/javascript">
  $(document).ready(function() {
    $('.display-create').click(function () {
      $.ajax({
        type: 'GET',
        dataType: 'html',
        url: '@Url.Action("Create", "Comment", new { id = Model.BlogPostId })',
        success: function (result) {
          $('#result2').html(result);
        }
      });
    });
   });
</script>

    <h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

    <h4>@Html.DisplayNameFor(model => model.Body): @Html.DisplayFor(model => model.Body)</h4>

    <h4>Comments:</h4>
        @foreach(var comment in @Model.Comments)
        {
            <p> Author: @comment.Author </p>
            <p> Comment: @comment.Body </p>
                          
            <p> @Html.ActionLink("Delete Comment", "Delete", "Comment", new { id = comment.CommentId })</p>
            <hr />
        }

<body>
    <h4 class="display-create">Add A Comment</h4>
    <div id="result2"></div>
</body>
         
<p>@Html.ActionLink("Edit Post", "Edit", new { id = Model.BlogPostId }) | 
   @Html.ActionLink("Delete Post", "Delete", new { id = Model.BlogPostId }) | 
   @Html.ActionLink("Back to Blog Posts", "Index")</p>