@model PersonalPortfolio.Models.BlogPost

@{
    ViewData["Title"] = "BlogPost - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<hr />


<html>
  <head>
    <title>Blog Post - Edit</title>
  </head>
  <body>
    <h2>Edit This Blog Post</h2>
    <hr />
       <h4>Title: @Html.DisplayFor(model => model.Title)</h4>
       <h4>Post: @Html.DisplayFor(model => model.Body)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.BlogPostId)

        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
        <br>
        @Html.LabelFor(model => model.Body)
        @Html.EditorFor(model => model.Body)
        <br>
        <input type="submit" value="Save" class="btn btn-success"/>
    }
        <br>
        <a href="@Url.Action("Index") "class="btn btn-info"">Back to Blog Posts</a>

  </body>
</html>
